<body>
<div style="--bs-div-background-color: blue;">
  <h3>You are about to finish your registration! </h3>
  <h4>Confirm your email by clicking on link</h4>
</div>
<button style="background: #F0F8FF; border:1px solid grey; border-radius: 5px; padding: 2px">
  <a href="{{message}}" type="button" style="margin: 1px">
    Confirm !!!
  </a>
</button>
</body>