$imageListSize: 30px;
$imageSize: 25px;
.container {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1px;
  row-gap: 1px;
  z-index: 1011;
}

.icon {
  width: $imageSize;
  height: $imageSize;
  max-width: $imageListSize;
  margin: 0;
}

.active {
  border: 1px solid red;

}

.paper {
  display: flex;
  border: 1px solid blue;
  padding: 2px;
  margin: 2px;
  align-items: center;
  justify-content: center;
}


